<section id="why-choose-us" class="why-choose-us">
  <h2>{{'why-section.title' | translate}}</h2>
  <div class="reasons">
    <div class="reason">
      <img src="assets/Community.png" alt="Community Icon">
      <h3>{{'why-section.feature1.title' | translate}}</h3>
      <p>{{'why-section.feature1.description' | translate}}</p>
    </div>
    <div class="reason">
      <img src="assets/Security.png" alt="Security Icon">
      <h3>{{'why-section.feature2.title' | translate}}</h3>
      <p>{{'why-section.feature2.description' | translate}}</p>
    </div>
    <div class="reason">
      <img src="assets/responsible.png" alt="Responsible Prices Icon">
      <h3>{{'why-section.feature3.title' | translate}}</h3>
      <p>{{'why-section.feature3.description' | translate}}</p>
    </div>
  </div>
</section>
