.about-the-product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #2ECC71;
}
.about-the-product-video{
  border-radius: 10px;
  height: 400px;
}
