<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="mobile-sidenav" mode="over" position="end" [(opened)]="menuOpened">
    <mat-nav-list>
      <app-language-switcher></app-language-switcher>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/benefits" (click)="sidenav.close()">Benefits</a>
      <a mat-list-item routerLink="/team" (click)="sidenav.close()">About</a>
      <a mat-list-item routerLink="/contact" (click)="sidenav.close()">Contact</a>
      <a mat-list-item routerLink="/premium-plans" (click)="sidenav.close()">Premium</a>
      <button mat-stroked-button color="primary" class="login-btn" (click)="sidenav.close()" routerLink="/login">Log in</button>
      <button mat-raised-button color="accent" class="register-btn" (click)="sidenav.close()" routerLink="/register">Register</button>
    </mat-nav-list>
  </mat-sidenav>


  <mat-toolbar color="primary">
    <span>
      <img src="assets/DriveNow-Logo.png" alt="Logo" class="logo" />
    </span>

    <span class="spacer"></span>

    <div class="nav-links">
      <a mat-button routerLink="/home">{{ 'nav-bar.home' | translate}}</a>
      <a mat-button routerLink="/benefits">{{ 'nav-bar.benefits' | translate}}</a>
      <a mat-button routerLink="/team">{{ 'nav-bar.about' | translate}}</a>
      <a mat-button routerLink="/contact">{{ 'nav-bar.contact' | translate}}</a>
      <a mat-button routerLink="/premium-plans">Premium</a>
    </div>

    <div class="auth-links">
      <button mat-stroked-button class="login-btn" routerLink="/login">{{ 'nav-bar.login' | translate}}</button>
      <button mat-raised-button class="register-btn" routerLink="/register">{{ 'nav-bar.register' | translate}}</button>
    </div>

    <div class="language-switcher">
      <app-language-switcher></app-language-switcher>
    </div>

    <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container>
