<section id="safety" class="safety">
  <h2>{{'safety-section.title' | translate}}</h2>
  <div class="safety-measures">
    <div class="measure">
      <img src="assets/owners.png" alt="Owners Icon">
      <h3>{{'safety-section.owners.title' | translate}}</h3>
      <p>{{'safety-section.owners.description' | translate}}</p>
      <a href="#" class="btn-learn-more">{{'safety-section.learn-more' | translate}}</a>
    </div>
    <div class="measure">
      <img src="assets/renters.png" alt="Renters Icon">
      <h3>{{'safety-section.renters.title' | translate}}</h3>
      <p>{{'safety-section.renters.description' | translate}}</p>
      <a href="#" class="btn-learn-more">Learn More</a>
    </div>
  </div>
</section>
