<section class="testimonials">
  <h2>{{'testimonies-section.title' | translate}}</h2>
  <div class="testimonial-cards">

    <!-- Primera tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony1.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony1.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_2.png" alt="Avatar">
        <div>
          <span class="name">Gabriela Flores</span><br>
          <span class="role">{{'testimonies-section.testimony1.author' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Segunda tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony2.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony2.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_1.png" alt="Avatar">
        <div>
          <span class="name">Anderson Díaz</span><br>
          <span class="role">{{'testimonies-section.testimony2.author' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Tercera tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony3.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony3.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_3.png" alt="Avatar">
        <div>
          <span class="name">Nicolás Dávila</span><br>
          <span class="role">{{'testimonies-section.testimony3.author' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Cuarta tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony4.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony4.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_4.png" alt="Avatar">
        <div>
          <span class="name">Sebastian Ramirez</span><br>
          <span class="role">{{'testimonies-section.testimony4.author' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Quinta tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony5.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony5.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_1.png" alt="Avatar">
        <div>
          <span class="name">Piero PG</span><br>
          <span class="role">{{'testimonies-section.testimony5.author' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Sexta tarjeta -->
    <div class="testimonial-card">
      <div class="stars">★★★★☆</div>
      <h3>{{'testimonies-section.testimony6.title' | translate}}</h3>
      <p>{{'testimonies-section.testimony6.testimony' | translate}}</p>
      <div class="user-info">
        <img src="assets/avatar_3.png" alt="Avatar">
        <div>
          <span class="name">Flor Cabanillas</span><br>
          <span class="role">{{'testimonies-section.testimony6.author' | translate}}</span>
        </div>
      </div>
    </div>

  </div>
</section>
