<section id="team-section" class="team-section">
  <h2>{{'team-section.title' | translate}}</h2>
  <div class="team-members">
    <div class="member">
      <img src="assets/Aaron_foto.png" alt="Aarón Alexander Avila Palacios">
      <h3>Aarón Alexander Avila Palacios</h3>
      <p>{{ 'team-section.aaron.line1' | translate}}<br>{{ 'team-section.aaron.line2' | translate}}</p>
    </div>
    <div class="member">
      <img src="assets/George_foto.png" alt="George Galván">
      <h3>George Galván</h3>
      <p>{{ 'team-section.george.line1' | translate}}<br>{{ 'team-section.george.line2' | translate}}<br>{{ 'team-section.george.line3' | translate}}</p>
    </div>
    <div class="member">
      <img src="assets/Gabriel.png" alt="Gabriel Alexander Casas Sanchez">
      <h3>Gabriel Alexander Casas Sanchez</h3>
      <p>{{ 'team-section.alex.line1' | translate}}<br>{{ 'team-section.alex.line2' | translate}}<br>{{ 'team-section.alex.line3' | translate}}</p>
    </div>
    <div class="member">
      <img src="assets/Jamir_foto.png" alt="Jamir Ángel Marzál Pérez">
      <h3>Jamir Ángel Marzál Pérez</h3>
      <p>{{ 'team-section.jamir.line1' | translate}}<br>{{ 'team-section.jamir.line2' | translate}}</p>
    </div>
  </div>
</section>
